@import "mapas.less";
@import "variaveis.less";
@breakpointMobile: ~"(max-width: 760px)";
@breakpointTablet: ~"(min-width: 761px) and (max-width: 1023px)";

.display{
    display: flex;
}
.displayB{
    display: block;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: @fontPrincipal;
}

li {
    list-style: none;
}

body{
    background-color: #colors[backgroundColor];
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media @breakpointTablet {
            max-width: 80%;

    
        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
    
    @media @breakpointMobile {
            max-width: 70%;

        .products {
            .displayB();
        }
    
        .product-item  {
            margin-bottom: 32px;
        }
    }
    
}

header {
    background-color: #colors[backgroundColorHeader];
    position: sticky;
    top: 0;
    left: 0;

    .container {
        .display();
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        .menu {
            .display();

            li {
                font-weight: bold;
                margin-left: 24px;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

section {
    padding: 56px 0;

}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    &-item img {
        width: 100%;
        border-radius: 16px;
    
    }
}

.product-button {
    .displayB();
    background-color: #colors[backgroundColorButton];
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: #colors[backgroundColorButton];
    }
}

